body{
    background-color: #121212;
    color: #ffffff;
    font-family:'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.container {
    width: 400px;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #333;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}



